@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Custom Color Palette */
  /* Grey Scale */
  --color-grey-0: #FFFFFF;
  --color-grey-100: #F6F8FF;
  --color-grey-200: #B1B8D8;
  --color-grey-300: #767DA1;
  --color-grey-400: #51537D;
  --color-grey-500: #3E445A;
  --color-grey-600: #13193C;
  --color-grey-700: #0D1231;
  --color-grey-750: #0A0D24;
  --color-grey-800: #00001D;
  --color-grey-900: #01020F;

  /* Primary Colors */
  --color-primary-light: #71FFCC;
  --color-primary-main: #02EA96;
  --color-primary-dark: #01292B;
  --color-primary-contrast-text: #01020F;

  /* Secondary Colors */
  --color-secondary-main: #F6F8FF;

  /* Warning Colors */
  --color-warning-light: #FFC478;
  --color-warning-main: #FCA22D;
  --color-warning-dark: #653900;
  --color-warning-contrast-text: #00001D;

  /* Error Colors */
  --color-error-light: #FF8581;
  --color-error-main: #DB1F35;
  --color-error-dark: #3D0007;
  --color-error-contrast-text: #FFFFFF;

  /* Common Colors */
  --color-common-black: #000000;
  --color-common-white: #FFFFFF;

  /* Utility Colors */
  --color-border: #13193C;
  --color-secondary-border: #061EA5;
  --color-discord: #5865F2;

  /* Team Colors */
  --color-team-ct-main: #0074E8;
  --color-team-t-main: #FFD700;

  /* Gradients */
  --gradient-background: linear-gradient(226.6deg, #020731 4.51%, #01020F 93.9%);
  --gradient-neutral: linear-gradient(136deg, #0A1A7F 0%, #0B1556 100%);
  --gradient-chart: linear-gradient(180deg, #02EA96 0%, rgba(1, 4, 23, 0.00) 100%);
  --gradient-image: linear-gradient(180deg, rgba(1, 4, 23, 0.00) 0%, #010417 100%);
  --gradient-text: linear-gradient(261deg, #0187BE 0%, #02EA96 100%);
  --gradient-primary-main: linear-gradient(100deg, #02EA96 0%, #01CAA4 100%);
  --gradient-primary-hover: linear-gradient(136deg, #00C980 0%, #009C7F 100%);
  --gradient-warning-main: linear-gradient(136deg, #FFC478 0%, #FCA22D 100%);
  --gradient-error-main: linear-gradient(136deg, #FB675F 0%, #FF2927 100%);
  --gradient-error-hover: linear-gradient(136deg, #E33C35 0%, #D82A26 100%);
  --gradient-info-main: linear-gradient(136deg, #0A1A7F 0%, #0B1556 100%), radial-gradient(103.24% 76.23% at 29.35% 15.7%, #0A1A7F 0%, #0B1556 100%);
  --gradient-green-strip-r: linear-gradient(90deg, #51537D 99%, #71FFCC 100%);
  --gradient-green-strip-l: linear-gradient(-90deg, #51537D 99%, #71FFCC 100%);
  --gradient-divider: linear-gradient(90deg, #01020F 0%, #0187BE 50%, #020731 100%);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
